/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/* Carousel */
.banner-image{
    filter: grayscale(0.5) blur(1px);
}

/* Package */
.card-footer-bg{
    background-color: transparent;
    border: none;
}
.active-card{
    background-color: #3F87F5 !important;
    color: #fff;
}
.active-btn{
    background-color: #fff;
}
.backside-footer{
    background-color: #0B0D17;
    height: 250px;
}


/* Toast Style */
.toast-button{
    position: fixed;
    top: 310px;
}

.subscribe-now{
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #34495e;
      font-weight: 800;
      text-align: center;
    }
.subscribe-form {
    max-width: 470px;
    margin: 0 auto;
    width: 100%;
    box-shadow: 0px 2px 5px 0px rgba(10, 6, 20, 0.24);
}
.form-control:focus{
    border: none;
    box-shadow: none;
}
.subscribe-btn:focus{
    border: none;
    box-shadow: none;
}