/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/* Carousel */
.banner-image{
    filter: grayscale(0.5) blur(1px);
}

/* Package */
.card-footer-bg{
    background-color: transparent;
    border: none;
}
.active-card{
    background-color: #3F87F5 !important;
    color: #fff;
}
.active-btn{
    background-color: #fff;
}
.backside-footer{
    background-color: #0B0D17;
    height: 250px;
}