/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.website-caption{
    color: #0A0826;
}
.fa-check-circle{
    color: #5243C2;
}



/* Header */
.custom-nav-color ul li a{
    color: #0A0826 !important;
    font-weight: 600;
}
.custom-nav-color ul li a.active{
    color: #5243C2 !important;
}
.custom-nav-color ul li a:hover{
   font-weight: 600;
   -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
   -webkit-mask-size: 200%;
   animation: shine 2s infinite;
 }
 
 @-webkit-keyframes shine {
   from {
     -webkit-mask-position: 150%;
   }
   
   to {
     -webkit-mask-position: -50%;
   }
}

/* Toasts */
.toast-btn:focus{
    box-shadow: none;
    border: none;
}
.subscribe-now{
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #34495e;
    font-weight: 800;
    text-align: center;
  }
.subscribe-form {
  max-width: 470px;
  margin: 0 auto;
  width: 100%;
  box-shadow: 0px 2px 5px 0px rgba(10, 6, 20, 0.24);
}
.form-control:focus{
  box-shadow: none;
}
.subscribe-btn:focus{
  border: none;
  box-shadow: none;
}


/* Carousel */
.carosel-cap-title p{
    font-size: 12px;
}

/* Package */
.card-footer-bg{
    background-color: transparent;
    border: none;
}
.choose-btn:hover{
    color: white;
    font-weight: 600;
}
.card-caption h4{
    color: #231D4F;
}
.card-caption h5{
    color: #231D4F;
}
.card-caption p{
    color: #7E848C;
}
.card-caption span{
    color: #7E848C;
}
.offer{
    position: relative;
}
.offer img{
    position: absolute;
    right: -45px;
    top: -40px;
    width: 70px;
}

.card-effect {
    position: relative;
  }
  .card-effect:before, .card-effect:after
  {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 25px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    box-shadow: 0 35px 20px #777;
    transform: rotate(-8deg);
  }
  .card-effect:after {
    transform: rotate(8deg);
    right: 10px;
    left: auto;
  }


/* FAQ */
.custom-accor-btn{
    background-color: #fff !important;
    color: #0A0826 !important;
    font-weight: 500;
}
.custom-accor-btn:focus{
    box-shadow: none;
    border: none;
}

/* Footer */
.backside-footer{
    background-color: #0B0D17;
    height: 220px;
}



  
@media only screen and (max-width: 600px){
    .mobile-device{
        height: 400px;
    }
    .mobile-device img{
        height: 400px;
    }
}